@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    overflow: hidden;
    background-color: #f2f2f2;
    transition: 0.3s;
    width: 100vw;
    height: 100vh;
}

header{
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header input[type="checkbox"]{
    display: none;
}

ion-icon{
    cursor: pointer;
}

#moon{
    display: none;
}

#sunny{
    display: block;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10%;
}

.game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.game button{
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border: none;
    border-radius: 1rem;
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    font-size: 2rem;
}

.current-player{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-xmark{
    color: #4ea8de;
}

.fa-o{
    color: #ffd500;
}

.dark{
    #moon{
        display: block;
    }

    #sunny{
        display: none;
    }

    .fa-xmark{
        color: #81cfff;
    }

    .fa-o{
        color: #ffe76c;
    }

    .game button{
        background-color: #2b2b2b;
    }

    background-color: #090909;
    color: #f2f2f2;
}

@media (max-width: 1400px){
    h1{
        margin-bottom: 0;
    }
}

@media (max-width: 600px){
    .game{
        gap: 1rem;
    }

    .game button{
        width: 6rem;
        height: 6rem;
    }
}